.navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #7000DE;
    width: 100%;
    flex-wrap: wrap;
}

.navigation p{
    outline: none;
}

.container-input-icon{
    background: white;
    border: none;
    border-radius: 20px;
    height: 45px;
    position: relative;
    padding: 0 17px;
}

.navigation input{
    width: 200px;
    height: 40px;
    border: none;
    margin: 2px;
}

.navigation input {
   outline: none;
  }

  .navigation div p {
    margin-top: 1px;
    font-size: 15px;
    color: white;
   }
 

.icon1{
    color: #7000DE;
    font-size: 25px;
    margin-right: 8px;
}

.section-icons{
    display: flex;
}


.icon-nav{
    color: white;
    font-size: 25px;
}

.lbl-count{
    border-radius: 50%;
    background: red;
    width: 20px;
    height: 20px;
    display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  margin:0px auto;
  padding:3%
}

.btnCarrito{
    background: none;
    border: none;
    cursor: pointer;
}

